<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Local DB-->
		<add name="LocalDb"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PersonDb;Integrated Security=True"
			 providerName="System.Data.SqlClient" />

		<!-- SQL Server -->
		<add name="SqlServer"
			 connectionString="Server=.;Database=PersonDb;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />

	</connectionStrings>

	<appSettings>
		<add key="DbMode" value="LocalDb"/>
	</appSettings>

</configuration>